@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-image: url(./fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
#balance{
    width: 10rem;
    height: 20rem;
}
.btnn{
    border: 1px solid rgb(170, 170, 170);
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 20rem;
    height: 4.5rem;
    border-radius: 25px;
    background-color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
.btnn p{
    margin-top: 0.8rem;
    margin-left: 0.5rem;
}
.todos-loans{
    margin-bottom: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    height: 26rem;
    width: 18rem;
    margin-left: 2rem;
}
.contenedor-loans{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-radius: 20px;
    font-size: 0.7rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
    height: 26rem;
    width: 23rem;
    scrollbar-base-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #67b9b1;
    color: white;
    flex-direction: column;
}
.todos-loans::-webkit-scrollbar{
    width: 10px;
}
.todos-loans::-webkit-scrollbar-thumb{
    border-radius: 10px;
    width: 10px;
    background-color: rgb(97, 97, 97);
}

.loans-container{
    margin-top: 2rem;
    border-radius: 10px;
    width: 15rem;
    height: 8rem;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loans-container h4{
    font-size: 1.2rem;
}
.cnt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-transacciones{
    width: 40rem;
}

.principal{
    display: flex;
    background-image: url(/web/styles/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.datos-usuario{
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35rem;
}
.datos-container{
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
    margin: 3rem;
    width: 80rem;
    height: 51rem;
    background-color: white;
}
.contenedor-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}
.hamburguesa{
    margin-left: 35rem;
    color: white !important;
    border: none;
}
.menu{
    transition: 0.5s;
}

.hamburguesa i{
    font-size: 3rem;
}
.usuario-container{
    display: flex;

}
.usuario-container img{
    width: 4rem;

}
.principal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tarjeta-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.contenedor-tabla{
    width: 15rem;
    height: 83.5vh;
    border: 2px solid #fa53a9;
    box-shadow: #f82d97 0px 0px 15px;
    border-radius: 10px;
    display: flex;
    
    
}
.plata{
    border: 1px solid rgb(180, 180, 180);
    width: 25rem;
    height: 15rem;
    background-color: rgba(255, 255, 255, 0.772);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 10px;

}
.plata h2{
    text-align: center;
    text-align: 2rem;
}
.plata-datos h2{
    font-size: 3.5rem;
}
.plata h3{
    text-align: center;
}
.plata div h4{
    font-size: 1rem;
}
.plata a{
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    margin-top: 1rem;
    text-decoration: none;
    height: 2rem;
    width: 10rem;
}
.contenedor-tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.delete{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: absolute;
    margin-left: 20rem;
    margin-bottom: 10rem;
    border: 1px solid black;
    border-radius: 50px;
    transition: 0.3s;
}
.delete:hover{
    color: red;
    border: 1px solid red;
}
.delete:active{
    color: red;
    border: 1px solid red;
}





@media (max-width: 768px) {
    
    .delete{
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        position: absolute;
        margin-left: 20rem;
        margin-bottom: 5rem;
        border: 1px solid black;
        border-radius: 50px;
        transition: 0.3s;
    }
    .delete:hover{
        color: red;
        border: 1px solid red;
    }
    .delete:active{
        color: red;
        border: 1px solid red;
    }
    .btnn{
        margin-right: 1rem;
        margin-left: 5rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 20rem;
        height: 4.5rem;
        border-radius: 25px;
        background-color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .loans-container{
        margin-top: 2rem;
        margin-left: 0.6rem;
        border-radius: 10px;
        width: 15rem;
        height: 8rem;
        text-align: center;
        background-color: white;
        color: black;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .loans-container h4{
        font-size: 1.2rem;
    }
    .principal{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .contenedor-transacciones{
        width: 40%;
    }
    .cnt{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .contenedor-tarjetas{
        margin-top: 9rem;
        margin-right: 1rem;
        margin-left: 5rem;
        margin-left: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .plata{
        border: 1px solid rgb(180, 180, 180);
        width: 26rem;
        height: 10rem;
        background-color: white;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    
    }
    .plata h2{
        text-align: center;
        font-size: 1.2rem;
    }
    .plata h3{
        text-align: center;
        font-size: 1.2rem;
    }
    .plata a{
        font-size: 1.2rem;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: black;
        margin-top: 0.3rem;
        text-decoration: none;
        height: 2rem;
        width: 10rem;
    }
    .datos-container{
        border: 1px solid rgb(180, 180, 180);
        border-radius: 10px;
        margin-left: 8rem;
        width: 70%;
        display: flex;
        flex-direction: column;
        height: 110rem !important;
        background-color: white;
    }
    .datos-usuario{
        height: auto;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenedor-principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .principal{
        display: flex;
        background-color: rgb(230,230,230);
        height: auto;
    }
    .contenedor-loans{
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        width: 18rem;
        font-size: 0.7rem;
        margin-bottom: 4rem;
        margin-top: 7rem;
        height: 30rem;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-base-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 5rem;
        background-color: #67b9b1;
        color: white;
        flex-direction: column;
    }
}

@media (max-width: 425px) {
    
    .delete{
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        position: absolute;
        margin-left: 13rem;
        margin-bottom: 5rem;
        border: 1px solid black;
        border-radius: 50px;
        transition: 0.3s;
    }
    .delete:hover{
        color: red;
        border: 1px solid red;
    }
    .delete:active{
        color: red;
        border: 1px solid red;
    }
    .btnn{
        margin-right: 1rem;
        margin-left: 0.6rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 16rem;
        height: 4.5rem;
        border-radius: 25px;
        background-color: #fff;
        font-size: 1rem;
        cursor: pointer;
    }
    .loans-container{
        margin-top: 2rem;
        margin-left: 0.6rem;
        border-radius: 10px;
        width: 8rem;
        height: 13rem;
        margin-left: 4rem;
        text-align: center;
        background-color: white;
        color: black;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .loans-container h4{
        font-size: 1.2rem;
    }
    .principal{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .contenedor-transacciones{
        width: 40%;
    }
    .cnt{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .contenedor-tarjetas{
        margin-top: 9rem;
        margin-right: 1rem;
        margin-left: 5rem;
        margin-left: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .plata{
        border: 1px solid rgb(180, 180, 180);
        width: 17.5rem;
        height: 10rem;
        background-color: white;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    
    }
    .plata h2{
        text-align: center;
        font-size: 1.2rem;
    }
    .plata h3{
        text-align: center;
        font-size: 1.2rem;
    }
    .plata a{
        font-size: 1.2rem;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: black;
        margin-top: 0.3rem;
        text-decoration: none;
        height: 2rem;
        width: 10rem;
    }
    .datos-container{
        border: 1px solid rgb(180, 180, 180);
        border-radius: 10px;
        margin-left: 8rem;
        width: 70%;
        display: flex;
        flex-direction: column;
        height: 110rem !important;
        background-color: white;
    }
    .datos-usuario{
        height: auto;
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .contenedor-principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .principal{
        display: flex;
        background-color: rgb(230,230,230);
        height: auto;
    }
    .contenedor-loans{
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        width: 11rem;
        font-size: 0.7rem;
        margin-bottom: 4rem;
        margin-top: 7rem;
        height: 30rem;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-base-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 5rem;
        background-color: #67b9b1;
        color: white;
        flex-direction: column;
    }
}
